<div class="loguitos">
    <i class="far fa-handshake"></i>
</div>
<div class="pies">TERMINOS Y CONDICIONES</div>
<p>Una vez admitida la resolución del contrato, en caso de devolución del dinero la entidad debe hacer el
    reintegro en 14
    días contados desde la solicitud, de acuerdo a lo dispuesto en el RD 1/2007, por lo que el establecimiento
    no debe
    diferir mucho más la devolución excusándose en plazos más amplios.</p>
</p>

<p>
<div class="loguitos">
    <i class="fas fa-users"></i>
</div>
<div class="pies">NOSOTROS</div>
<p>Nuestra misión es contribuir al desarrollo de la salud visual en el país al precio más bajo del mercado. Para
    ello,
    contamos con asesoría profesional en todas nuestras sucursales y la más amplia variedad en productos
    ópticos: lentes
    oftálmicos, lentes de sol, lentes de contactos y accesorios.</p>
</p>

<p>
<div class="loguitos">
    <i class="far fa-comments"></i>
</div>
<div class="pies">CONTACTO</div>
<p>
<ul>Ecommerce@optica.com.ar</ul>
<ul>Sucursales@optica.com.ar</ul>
</p>

<p>
<div class="loguitos">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
</div>
<div class="pies">REDES</div>
<p>Seguinos en nuestras redes sociales</p>
</p>