<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>


    <body>
        <header class="j-space-between bgc-header font-color header">
            <%- include ("../partials/header-home") %>
        </header>

        <main class="main-register display-flex">

            <form class="form-register" action="/user/register" method="post">
                <h2 class="margin-10" style="text-align: center;">
                    Crea Tu cuenta
                </h2>
                <section class="formularies">
                    <div>
                        <div class="m-formularies">
                            <label for="name"></label>
                            <input class="formularies-deco flex-q-1" type=" text" name="name" id="name"
                                placeholder="Nombre">
                        </div>
                        <div class=" m-formularies">
                            <label for="lastname"></label>
                            <input class=" formularies-deco flex-q-1" type="text" name="lastName" id="lastName"
                                placeholder="Apellido">
                        </div>
                        <div class=" text-center">
                            <img src="/img/line.png" style="width: 15%;" alt="">
                        </div>
                        <div class="m-formularies">
                            <label> Pais/Region</label>
                            <select class="flex-q-1 formularies-deco" name="country" id="country">
                                <option value="Argentna">Argentina</option>
                                <option value="Estados Unidos">Estados Unidos</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Chile">Chile</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                                <option value="Pais">Pais</option>
                            </select>
                        </div class="m-formularies">

                        <div class="m-formularies">
                            <label>Fecha Nacimiento:</label>
                            <input class=" formularies-deco flex-q-1" type="date" name="datetime" id="date-time">
                        </div>
                        <div class=" text-center">
                            <img src="/img/line.png" style="width: 15%;" alt="">
                        </div>
                        <div class="m-formularies">
                            <label for="Email"></label>
                            <input class=" formularies-deco flex-q-1" type="email" name="email" placeholder="Email"
                                id="email">
                        </div>
                        <div class="m-formularies">
                            <label for="password"></label>
                            <input class=" formularies-deco flex-q-1" type="password" name="password" id="password"
                                placeholder="Contraseña">
                        </div>
                        <div class="m-formularies">
                            <label for="password"></label>
                            <input class=" formularies-deco flex-q-1" type="password" name="confirmPassword"
                                id="password" placeholder="Confirmar contraseña">
                        </div>
                        <div class=" text-center">
                            <img src="/img/line.png" style="width: 15%;" alt="">
                        </div>
                        <div class="m-formularies">
                            <label for="address"> </label>
                            <input class=" formularies-deco flex-q-1" type="text" name="streetAddress"
                                placeholder="Domicilio" id="address">
                        </div>
                        <div class="m-formularies">
                            <label>Interes:</label>
                            <select class="boton-deco" name="favoriteCategory" id="favoriteCategory">
                                <option value="comprar">comprar</option>
                                <option value="vender">vender</option>
                            </select>
                        </div>
                        <div class="m-formularies">
                            <label>Seleciones Categorias Favoritas:</label>
                            <label>Glass x</label>
                            <input class="flex-q-1" type="checkbox" name="catgoria1" value="">

                            <label>Glass x</label>
                            <input class="flex-q-1" type="checkbox" name="catgoria2" value="">

                            <label>Glass x</label>
                            <input class="flex-q-1" type="checkbox" name="catgoria3" value="">

                            <label>Glass x</label>
                            <input class="flex-q-1" type="checkbox" name="catgoria4" value="">

                            <label>Glass x</label>
                            <input class="flex-q-1" type="checkbox" name="catgoria5" value="">
                        </div>

                        <div class="m-formularies">
                            <label for="avatar">Seleccione una imagen</label>
                            <input type="file" name="avatar" accept="jpg" id=" avatar">
                        </div>

                        <div class="m-formularies">
                            <button class="continuar-deco" type="submit">Continuar</button>
                            <button class="borrar-deco" type="reset">Borrar</button>
                        </div>
                    </div>
                </section>

            </form>
        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        <%- include('../partials/scripts-boostrap.ejs') %>
    </body>

</html>