<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

</head>

<body>
    <header>
        <section class="bgc-header font-color header ">
            <section class="left-box-header">
                <div class="logo">
                    <a href="/"><img src="/img/logo.svg" alt="logo"></a>
                </div>
                <div class="class= category "> <a href=""><i class="fas fa-bars iconos-header"></i></a>
                    <label for="">Categorias</label>
                </div>
            </section>

            <div class="search-bar">
                <label for="" class="label-none">Barra de busqueda</label>
                <input type="text" name="search-bar" id="search-bar">
                <i class="fas fa-search"></i>
            </div>

            <div class="bag-menu">
                <label for="" class="label-none">Register</label>
                <a href=""><i class="fas fa-shopping-bag iconos-header"></i>
                    <ul>
                        <li><a href=""></a>Copras</li>
                        <li><a href=""></a>Favoritos</li>
                    </ul>
                </a>
            </div>
            <div class="register-opction">
                <label for="" class="label-none">Bag</label>
                <a href=""><i class="fas fa-user-circle iconos-header"></i>

                </a>

            </div>


        </section>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>