<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <div class="form-login">
            <div>
                <label for="name">nick name</label>
                <input type="text" name="neme" id="" value="" placeholder="Nombre de usuario">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="" value="" placeholder="Ingrese su contraseña">
            </div>
            <div class="form-button-send">
                <label for="">Enviar</label>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>
</body>

</html>