<%- include ("partials/head") %>

<body>
    <%- include ("partials/header") %>

    <main>
    <section>
        <article>

            <section class="top-izquierda">
                <div class="parte-derecha">

                    <img src="/img/produc-detail.webp" width="100%" alt="">
                </div>
                <div class="imgs-del-producto">
                    <a href=""> <img src="/img/img1-produc-detail.webp" alt=""></a>
                    <a href=""> <img src="/img/img2-product-datail.webp" alt=""></a>
                </div>
            </section>
            <section class="parte-derecha">
                <h2>Nombre de porducto</h2>
                <h3>brece descripcion</h3>
                <div>
                    <div class="" style="display:flex"><i class="fas fa-dollar-sign"></i>
                        <h4> precio</h4>
                    </div>
                    <h4>seleccionar colores</h4>
                    <h4>tamaño</h4>
                    <h4>descuento</h4>
                    <h4>envio</h4>
                </div>
                <button class="btn-sec-lentes">seleccionar lentes</button>
                <h6>ese boton nos lleva a un html donde cargamos la prescripcion</h6>
            </section>
            <section class=" bottom-artible">
                <ul>

                    <li class="lista-detail-product">>Descripcion <a href=""></a>
                        <p class="descripcion-detail-product">Botanist tiene una forma de marco que es clásica y
                            atemporal. La forma sencilla y los
                            tacos de bisagra sutiles son discretos y elegantes. Lo que realmente hace que estos
                            espejuelos se destaquen es el acabado en dos tonos gris y marrón. El suave
                            desvanecimiento entre los colores en el marco de la lente crea un aspecto verdaderamente
                            moderno.</p>
                    </li>

                    <li class="lista-detail-product">Detalle
                        <a href=""></a>
                        <p class="descripcion-detail-product">Tamaño: mediano | 52 □ 18-145
                            Color: gris marrón
                            Peso: ligero (15 g)
                            Material: acetato
                            Forma: rectángulo
                            Borde: Borde completo
                            Revestimiento de lente anti-rayado</p>
                    </li>
                    <li>Recomendaciones
                        <a href=""></a>
                    </li>

                </ul>
            </section>
        </article>
    </section>
    </main>

    <%- include ("partials/footer") %>
    
</body>

</html>