<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
    <h2>men</h2>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>
    <%- include('../partials/scripts-boostrap.ejs') %>
        <script src="../../../js/products/home.js"></script>