* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.top-article {
  width: 100%;
}
.top-izquierda {
  width: 80%;
  margin: auto;
}
.carrusel-product {
  width: auto;
}
.parte-izquierda,
.parte-derecha {
  max-width: 80%;
  margin: auto;
}
.imgs-del-producto {
  width: 90%;
  display: flex;
  margin: auto;
  text-align: center;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding: 5px 0px;
}
.imgs-del-producto img {
  width: 40%;
}
.container-title-icon {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.icons a i {
  color: #086788;
}
.container-title-icon .icons {
  margin-left: 15px;
}
.bottom-article {
  width: 100%;
  margin: auto;
}

.bottom-article ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: black;
  position: relative;
}
.bottom-article ul a li,
.bottom-article ul a li {
  list-style: none;
}
.bottom-article ul a,
.bottom-article ul a {
  text-decoration: none;
  color: black;
}

.cont-btn-buy-dp {
  width: 40%;
  margin: auto;
}
.nav-tabs .nav-link.active {
  color: #2e6171;
}
.cont-btn-buy-dp button {
  width: 100%;
}
.nav-tabs button {
  color: #2e6171;
  font-weight: bolder;
  font-size: 14px;
}
/* boostrap */
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background-color: #212529;
  color: white;
  border: solid 1px #212529;
}

.nav-tabs {
  width: 98%;
  margin: auto;
  margin-top: 20px;
}
.descripcion-detail-product {
  background-color: #212529;
  color: white;
  width: 98%;
  margin: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}
.details-glasses {
  background-color: #212529;
  color: white;
  width: 98%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 480px) {
  .container-title-icon {
    justify-content: start;
  }
  .container-title-icon .icons {
    margin-left: 25px;
  }
  .nav-tabs button {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .article-detail-product {
    display: flex;
    padding: 10px;
    margin: 10px 0px;
  }
  .bottom-article ul {
    justify-content: space-around;
  }
}
