* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-user {
  width: 100%;
  margin: auto;
  text-align: center;
}
.containerImgProfile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: white;
  margin: auto;
}
.containerImgProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.formNone {
  display: none;
}
.formBlock {
  display: block;
}
.section2 {
  margin-top: 50px;
  width: 100%;
}

#formProfile {
  width: 90%;
  margin: auto;
}
#formProfile label {
  text-align: center;
  padding: 5px;
}
#formProfile input {
  width: 100%;
}
.container-btns {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-evenly;
}
#btnEdit {
  margin-top: 5px;
}
