* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 450ms;
  animation: reverse;
}

.w-30 {
  width: 30%;
}
.margin-10 {
  margin: 10px;
}
.w-40 {
  width: 40%;
}
.w-15 {
  width: 15%;
}
.display-flex {
  display: flex;
}
.header {
  background-color: rgba(0, 0, 0, 0.1);
}
.header:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.label-none {
  display: none;
}
.left-box-header {
  margin-top: auto;
  padding: 5px;
}
.logo img {
  width: 70px;
  color: red;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  border-radius: 8px;
  background-color: white;
  border: rgba(0, 0, 0, 0.8) solid 1px;
}
.search-bar input {
  width: 90%;
  margin-top: auto;
  height: 30px;
  border: none;
}
.search-bar input {
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-bar i {
  margin: auto;
  background-color: white;
  font-size: 20px;
}

.bag-menu {
  position: relative;
  list-style: none;
}
.bag-menu ul {
  list-style: none;
  position: absolute;
  visibility: hidden;
  left: -20px;
  top: 12px;
  opacity: 0;
  background-color: pink;
  border-radius: 5px;
  padding: 5px;
  transition-property: transform, opacity;
  transition-duration: 450ms;
}
/* .iconos-header:active { tendia que cambiar el fondo
  color: rgb(161, 210, 214);
} */
.bag-menu:active ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 24px);
}
.bag-menu ul li {
  padding-bottom: 10px;
}
